@charset "UTF-8";

.poll_wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 380px;
  overflow: hidden;
  font-family: '微软雅黑', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti', 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  font-weight: normal;
  font-variant: normal;
  color: #333333;
  background: #fff;
}

.poll_wrap .poll_list, .poll_wrap .poll_submit {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.poll_wrap .poll_list {
  margin: 0;
  padding: 20px 0 5px;
  background: #eff2f5;
  overflow: hidden;
}

.poll_wrap .poll_list ul {
  margin: 0;
  padding: 0;
}

.poll_wrap .poll_list h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 90px;
}

.poll_wrap .poll_list h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
}

.poll_wrap .poll_list li {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 157px;
  min-width: 157px;
  float: left;
  margin: 0 27px 30px;
  list-style-type: none;
  vertical-align: 0;
}

.poll_wrap .poll_list li img {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  border: 3px solid #eff2f5;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  display: block;
}

.poll_wrap .poll_list input {
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 5px;
}

.poll_wrap .poll_list p {
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.poll_wrap .poll_list li:hover img {
  border: 3px solid #0982dd;
}

.poll_wrap .poll_list li:hover p {
  color: #0982dd;
}

.poll_wrap .poll_submit {
  margin: 0;
  padding: 0;
  background: #f5f7f9;
  padding: 35px 0;
}

.poll_wrap .poll_submit ul {
  margin: 0;
  padding: 0;
  width: 580px;
  margin: 0 auto;
}

.poll_wrap .poll_submit li {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 28px;
  line-height: 28px;
  margin-bottom: 20px;
  list-style-type: none;
  vertical-align: 0;
}

.poll_wrap .poll_submit b {
  margin: 0;
  padding: 0;
  float: left;
  min-width: 120px;
  font-weight: 400;
}

.poll_wrap .poll_submit b i {
  margin: 0;
  padding: 0;
  color: #f47129;
  font-style: normal;
  padding-right: 5px;
}

.poll_wrap .poll_submit input {
  margin: 0;
  padding: 0;
  float: left;
  border: 1px solid #e8e8e8;
  width: 300px;
  height: 26px;
  padding: 0 5px;
}

.poll_wrap .poll_submit h3.error {
  color: #ff3860;
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;
}

.poll_wrap .poll_submit input.error {
  border-color: #ff3860;
}

.poll_wrap .poll_submit input.w_input {
  width: 165px;
}

.poll_wrap .poll_submit input:focus {
  border: 1px solid #4fa4e4;
}

.poll_wrap .poll_submit p {
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 10px;
  color: #797979;
}

.poll_wrap .poll_submit img {
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 10px;
}

.poll_wrap .poll_btn {
  margin: 0;
  padding: 0;
  width: 185px;
  height: 42px;
  line-height: 42px;
  background: #f47129;
  font-size: 18px;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.poll_wrap .poll_btn:hover {
  color: #fff !important;
  opacity: .8;
  text-decoration: none;
}

@media (max-width: 640px) and (min-width: 320px) {
  .poll_wrap .poll_list ul {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
  }
  .poll_wrap .poll_list h2 {
    line-height: 50px;
  }
  .poll_wrap .poll_list h3 {
    margin-bottom: 30px;
  }
  .poll_wrap .poll_list li {
    width: 21%;
    margin: 0 2% 20px;
  }
  .poll_wrap .poll_submit ul {
    width: 95%;
    margin: 0 auto;
  }
  .poll_wrap .poll_submit input {
    width: 280px;
  }
  .poll_wrap .poll_submit input.w_input {
    width: 150px;
  }
  .poll_wrap .other_wrap {
    min-width: 100%;
  }
  .poll_wrap .poll_list, .poll_wrap .poll_submit {
    width: 100%;
  }
  .poll_wrap .other_wrap img {
    width: 100% !important;
    height: auto !important;
  }
  .poll_wrap .poll_submit img {
    width: 75px !important;
    height: 28px !important;
  }
}

@media (max-width: 640px) and (min-width: 640px) {
  .poll_wrap .poll_submit ul {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .poll_wrap .poll_list li {
    width: 29.33%;
    margin: 0 2% 20px;
  }
}

@media (max-width: 492px) {
  .poll_wrap .poll_submit li {
    height: 56px;
    margin-bottom: 10px;
  }
  .poll_wrap .poll_submit p {
    margin-left: 60px;
  }
  .poll_wrap .poll_btn {
    width: 95%;
  }
}

@media (max-width: 414px) {
  .poll_wrap .poll_list li {
    width: 46%;
    margin: 0 4% 20px;
  }
  .poll_wrap .poll_submit li {
    height: 56px;
    margin-bottom: 10px;
  }
  .poll_wrap .poll_submit p {
    margin-left: 60px;
  }
  .poll_wrap .poll_btn {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .poll_wrap .poll_list li {
    width: 46%;
    margin: 0 2% 20px;
  }
  .poll_wrap .poll_submit li {
    height: 56px;
    margin-bottom: 10px;
  }
  .poll_wrap .poll_submit p {
    margin-left: 60px;
  }
  .poll_wrap .poll_btn {
    width: 95%;
  }
}

@media (max-width: 360px) {
  .poll_wrap .poll_submit input {
    width: 250px;
  }
  .poll_wrap .poll_submit input.w_input {
    width: 150px;
  }
}

@media (max-width: 320px) {
  .poll_wrap .poll_submit input {
    width: 200px;
  }
  .poll_wrap .poll_submit input.w_input {
    width: 110px;
  }
}

.results_wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1060px;
  overflow: hidden;
  font-family: '微软雅黑', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti', 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  font-weight: normal;
  font-variant: normal;
  color: #333333;
  background: #fff;
}

.results_wrap ul,
.results_wrap dl,
.results_wrap dd,
.results_wrap dt,
.results_wrap ol,
.results_wrap li,
.results_wrap p,
.results_wrap h1,
.results_wrap h2,
.results_wrap h3,
.results_wrap h4,
.results_wrap h5,
.results_wrap h6,
.results_wrap form,
.results_wrap fieldset,
.results_wrap table,
.results_wrap img,
.results_wrap td,
.results_wrap div,
.results_wrap input {
  margin: 0;
  padding: 0;
}

.results_wrap .vote1_cont {
  margin: 0 90px;
  border-bottom: 2px solid #eaedf0;
}

.results_wrap .vote1_title {
  font-size: 26px;
  padding: 35px 0;
  color: #797979;
}

.results_wrap .vote1_title span {
  margin-right: 50px;
}

.results_wrap .vote1_img {
  width: 112px;
  float: left;
  margin-right: 75px;
}

.results_wrap .vote1_img img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.results_wrap .vote1_img p {
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
}

.results_wrap .vote1_num {
  font-size: 22px;
  padding-top: 40px;
  float: left;
  margin-right: 55px;
}

.results_wrap .vote1_plan {
  width: 400px;
  height: 22px;
  background: #e3e4e6;
  float: left;
  margin-top: 40px;
  border-radius: 11px;
  overflow: hidden;
}

.results_wrap .vote1_plan span {
  height: 22px;
  background: #29a5fb;
  float: left;
}

.results_wrap .vote1_percent {
  font-size: 30px;
  margin-left: 40px;
  float: left;
  padding-top: 40px;
}

.results_wrap .vote1_cont li {
  overflow: hidden;
}

.results_wrap .vote1_text {
  float: left;
  width: 180px;
  font-size: 18px;
  margin-right: 30px;
  padding: 70px 0;
}

.results_wrap .vote1_cont1 li {
  border-bottom: 1px solid #eaedf0;
}

.results_wrap .vote1_cont1 .vote1_title {
  padding: 35px 0 0;
}

.results_wrap .vote1_cont1 .vote1_num,
.vote1_cont1 .vote1_percent {
  padding-top: 82px;
}

.results_wrap .vote1_cont1 .vote1_plan {
  margin-top: 82px;
}

.results_wrap .vote1_download {
  font-size: 22px;
  color: #fff;
  width: 295px;
  height: 43px;
  line-height: 43px;
  background: #f17818;
  display: block;
  text-align: center;
  border-radius: 5px;
  float: right;
  margin-top: 50px;
  margin-right: 90px;
}

.results_wrap .vote1_download:hover {
  color: #fff !important;
  text-decoration: underline;
}

@media (max-width: 640px) and (min-width: 320px) {
  .results_wrap {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  .results_wrap img {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: auto !important;
  }
  .results_wrap .vote1_cont {
    margin: 0 10px;
  }
  .results_wrap .vote1_title {
    font-size: 18px;
    padding: 20px 0;
  }
  .results_wrap .vote1_title span {
    margin-right: 20px;
  }
  .results_wrap .vote1_img {
    width: 60px;
    margin-right: 15px;
  }
  .results_wrap .vote1_img p {
    font-size: 14px;
    padding: 10px 0;
  }
  .results_wrap .vote1_num {
    padding-top: 0;
    font-size: 18px;
  }
  .results_wrap .vote1_plan {
    width: 200px;
    height: 15px;
    margin-top: 10px;
  }
  .results_wrap .vote1_percent {
    padding-top: 10px;
    font-size: 20px;
    margin-left: 0;
  }
  .results_wrap .vote1_cont li {
    border-bottom: 1px solid #eaedf0;
    margin-bottom: 10px;
  }
  .results_wrap .vote1_text {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    float: none;
  }
  .results_wrap .vote1_cont1 li {
    padding-bottom: 10px;
  }
  .results_wrap .vote1_cont1 .vote1_num,
  .vote1_cont1 .vote1_percent {
    padding-top: 10px;
    margin-left: 5%;
  }
  .results_wrap .vote1_cont1 .vote1_plan {
    margin-top: 10px;
    margin-left: 5%;
  }
  .results_wrap .vote1_cont1 .vote1_percent {
    width: 100%;
  }
  .results_wrap .vote1_download {
    float: none;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
  }
}